<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <ul>
        <li>
            <a href="{{ url_for('twtauth.logout') }}"> Log out </a>
        </li>

        <li>
            <a href="{{ url_for('home.home') }}"> Home </a>
        </li>
    </ul>

    <ul>
        {% for event in dms %}
            <li><a href="{{ url_for('home.conversation', conversation_id=event['dm_conversation_id']) }}">@{{users[event["sender_id"]]}} - {{event["text"]}} - {{event["created_at"]}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>