<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <ul>
        <li>
            <a href="{{ url_for('twtauth.logout') }}"> Log out </a>
        </li>
        <li>
            <a href="{{ url_for('home.messages') }}"> DMs </a>
        </li>
    </ul>

    <ul>
        {% for item in mentions %}
            <li>({{item.source}})<a href="{{ url_for('home.view_tweet', tweet_id=item.id) }}">{{item.content}}</a> ({{item.createdTime}})</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('home.compose_tweet') }}" method="POST">
        <input type="text" id="text" name="text">
        <input type="submit">
    </form>
</body>
</html>